/* CSS for Project-Lambda */

/* Font Import link */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: rgba(176, 178, 184, .7);
}

/*--- Web Page Title ---*/

h1 {
    font-family: 'Lora', serif;
    position: absolute;
    color: black;
    text-align: left;
}

/* --- Navigation --- */

#header {
    min-height: 100px;
    width: 100vw;
    background-color: goldenrod;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header a {
    cursor: pointer;
    text-decoration: none;
}

#logo {
    font-size: 1.3rem;
    position: relative;
    padding-left: 6%;
}

#menu {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: black;
    padding-right: 15px;
    width: 50%;
    justify-content: right;
    display: flex;
}

#menu ul {
    display: inline-flex;
}

#menu li {
    list-style-type: none;
    padding-right: 2%;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

.navi {
    padding: 10px;
}

.navi a:hover {
    border-bottom: 1px solid black;
}

/*  Styling for 404 Page Only */

#error {
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: gray;
}

#return-home {
    width: 100px;
    height: 100px;
    background-color: red;
    color: beige;
    border-radius: 20%;
    align-items: center;
}



/*--- main image ---*/

#hotgates {
    height: 500px;
    width: 100%;
    background: url(../assets/images/hotgates.jpeg) no-repeat center center;
    background-color: gray;
    text-align: center;
}

/*--- Main Content ---*/

hr {
    border: 2px solid goldenrod;
    margin-top: 0.8em;
}

p {
    margin: 0 auto;
    max-width: 600px;
    padding-bottom: 10px;
}

h2 {
    font-family: 'Lora', serif;
    margin: 15px 15px 8px 15px;
    text-decoration: underline;
    text-align: center;
}

h3 {
    font-family: 'Lora', serif;
    margin: 10px 15px 8px 15px;
    text-align: center;
}

.image-line img {
    margin: 0px 15px 0px 15px;
    width: 80%;
    height: 80%;
}

.image-line {
    background-color: gray;
    text-align: center;
    padding: 0px 10px;
    border: 1px solid goldenrod;
    margin-top: 20px;
}

#warmap {
    width: 90%;
    height: 90%;
    position: relative;
}

#herodotus {
    font-weight: 500;
    font-size: larger;
    margin: 0 auto;
    font-style: italic;
    padding: 20px 0;
}

/* Floating Button */

.to-top {
    width: 80px;
    height: 80px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    color: beige;
    font-size: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;

}

.to-top:hover {
    background-color: crimson;
    cursor: pointer;
}

/* --- Footer Image --- */

#thermopyles {
    height: 500px;
    width: 100%;
    background: url(../assets/images/thermopyles-greece.webp) no-repeat center center;
    margin-top: 10px;
}

/*--- footer ---*/

.social-networks {
    text-align: center;
    padding-top: 60px;
}

.social-networks>li {
    display: inline;
    margin: 10px;
}

footer {
    background-color: goldenrod;
    min-height: 200px;
    width: 100%;
    bottom: 0;
}

i {
    font-size: 3rem;
    color: black;
}

/*--- media queries ---*/

/* For full-width Monitors
   E.g: Wide landscape desktops */

@media (min-width: 2401px) {

    body {
        font-size: 35px;
    }

    .image-line img {
        width: 550px;
        height: 350px;
    }

}

/*For Larger Screens 
  E.g: Laptop, Desktop */

@media (min-width: 1024px) and (max-width: 2400px) {

    #logo {
        font-size: 2.3rem;
        padding-left: 0;
        margin-left: 10px
    }

    #menu li {
        padding: 1.5rem;
        font-size: 1.3rem;
    }

    p {
        max-width: 650px;
        font-size: larger;
    }

    h2 h3 {
        margin-left: 210px;
        padding-bottom: 10px;
    }

    .image-line img {
        margin: 0px 15px 0px 15px;
        width: 300px;
        height: 230px;
        display: inline-flex;
        align-items: center;
    }

    .social-networks li {
        margin: 70px;
    }

}

/* For   Medium Sized Screens 
      E.g:  Tablets, Ipads */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .image-line {
        background-color: gray;
        border: 1px solid goldenrod;
        margin-top: 10px;

    }

    .image-line img {
        margin: 0px 15px 0px 15px;
        width: 150px;
        height: 98px;
        display: inline-flex;
        align-items: center;
    }

}

/* For Small Screens
     E.g: Mobile Phones */
@media only screen and (min-width: 320px) and (max-width: 480px) {

    #menu {
        font-size: 1rem;
    }

    #logo {
        font-size: 1rem;
    }

    p {
        margin: 1% 5% 5% 1%;
        font-size: 1.1rem;

    }

    #herodotus {
        margin-left: 15px;
    }

    .to-top {
        height: 60px;
        width: 60px;
        font-size: smaller;
    }

}