/* CSS for Project-Lambda */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: black;

}

/*--- Web Page Title ---*/

h1 {
    font-family: 'Noto Serif Display', serif;
    position: absolute;
    /* margin: 15px; */
    color: black;
    text-align: left;

    
}

/* --- Navigation --- */

#header {
    /* border: 2px solid red; */
    height: 80px;
    background-color: goldenrod;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header a {
    cursor: pointer;
    text-decoration: none;
}

#logo{
    font-size: 1.3rem;
    position: relative;
    padding-left: 15px;


}
#menu {
    font-family: 'Noto Serif Display', serif;
    font-size: 1.2rem;
    color: black;
    padding-right: 15px;
    width: 50%;
    justify-content: right;
    display: flex;
    

}

#menu ul{
    display: inline-flex;
}

#menu li {
    list-style-type: none;
    padding-right: 5px;
 
}

#menu a {

    text-decoration: none;
    color: inherit;
    

}

.navi {
    padding: 10px;
}

.navi a:hover {
    border-bottom: 1px solid black;

}

/* image */


#thermopyles {
    height: 500px;
    width: 100%;
    background: url(../assets/images/thermopylae2.jpeg) no-repeat center center;
    

}

#about {
    height: fit-content;

}

#context {
    height: fit-content;

}

#belligerents {
    height: fit-content;

}



/* footer */

footer {
    background-color: goldenrod;
    height: 100px;
    bottom: 0;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline-block;
    size: 2rem;
    margin: 30px 90px 20px; 
    

}

.social-networks i {
    font-size: 250%;
    padding: 20%;
    color: black;
    border-right: 50px;
    
    

}

li #hidden-link {
    display: none;

}
/* media queries */

@media screen and (min-width: 377px) {

    .navi {
        padding: 15px
    }
    
    #thermopyles {
        
        background-image: url(../assets/images/Thermopyles-Greece.webp);
        
    }
}